.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  /* top: 20px;
  left: 20px; */
}
.icon {
  /* content: " "; */
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: tomato;
  border: 2px solid black;
  border-radius: 4px;
}
.checkbox:checked + .icon {
  background-color: blue;
}
.label {
  display: inline-block;
  outline: 1px solid black;
}
